<!DOCTYPE html>
<head>
    <title>О нас</title>
</head>
<body>
    <a href="/">Главное</a>
    <a href="/contacts">Контакты</a>
    <a href="about">О нас</a>
    <p>Имя: <%= name %></p>
    <p>Фамилия: <%= surname %></p>
    <p>Группа: <%= group %></p>
</body>