<!DOCTYPE html>
<head>
    <title>Контакты</title>
</head>
<body>
    <a href="/">Главное</a>
    <a href="/contacts">Контакты</a>
    <a href="about">О нас</a>
    <p>Электронная почта: <%= email %></p>
    <p>Адрес: <%= address %></p>
</body>